.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(135, 195, 216);
}

.nav-links {
  display: flex;
  width: 40%;
  justify-content: space-around;
  list-style: none;
}
.nav-items {
  color: white;
  text-decoration: none;
}
